@charset "utf-8";
/* This CSS file will style properties specific to the PowerBall web page. */

body {/*Same for all pages*/
	background-color:#FED034;/*Page dependant*/
}
#container {
	background-image:url(../image/LottogradientHL2.jpg);/*Page dependant*/
	background-color:#FEC56B;
	
}
#content{
	background-image:url(../image/LottogradientHL2.jpg);/*Page dependant*/
	background-color:#FEC56B;
}

div 
{
/*height: auto;*/
/*border: 1px solid ;	*/
}
a:link {color: blue; text-decoration: none;}
form
{
/*height: auto;*/
/*border: 1px solid green;	*/
/*text-align:center;*/
}

.aLinks
 {
	background-color:#FEC4C2; /*Page dependant makes changes to style sheet to match*/
	border: 2px inset black;
}
.BonusNum1
{
	background-color:#FF6E0F;
}
#L5divTest{
	
	background-color:#FED034;/*Page dependant*/
	
}